.labelheader {
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.opportunitylink {
    padding-left: 63%;
}

.facultylink {
    padding-left: 69%;
}

.wrapper {
    margin-bottom: 40px;
}