.student-reg-form {

  margin: 20px;
  width:70%;
  margin-left: 15%;
  background-color: #f6f6f6;

  .header {
    background-color: #b31b1b;
    width: 100%;
    height: 50px;
  }
}


.student-reg-form .button{
  background-color: #b31b1b;
  border-color: #b31b1b;
}
.student-reg-form .button:focus{
  background-color: #b31b1b;
  border-color: #b31b1b;

}
.student-reg-form .button:hover{
  background-color: #b31b1b;
  border-color: #b31b1b;
  opacity: .7;
}

.dropzone p{
  margin-bottom: 0px;
  text-align: center;
}
.dropzone .uploaded-message{
  font-size: 12px;
  text-align: center;
}

.student-reg-form textarea{
  resize: none;
}
.student-reg-form input:hover,.student-reg-form textarea:hover,.student-reg-form select:hover, .student-reg-form .button:hover{
  border-color: #b31b1b;
}
.student-reg-form input:focus,.student-reg-form textarea:focus,.student-reg-form select:focus, .student-reg-form .button:focus{
  border-color: #b31b1b;
}



.student-reg-form .left-input{
  width: 50%;
  margin-left: 25%;
}
.student-reg-form h3, .student-reg-form .centered{
  text-align: center;
}
 .student-reg-form form{
  margin-top: 0px;
}
 .student-reg-form form .error{
   border: 3px #b31b1b solid;
 }
 .student-reg-form .edit-drop{
   border-radius: 4px;
 }

.student-register-course-select {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;

  .course-select {
    padding: 0px;
  }
}
