.profile-page-wrapper {
  margin-top: 40px;
   width: 100%;
   margin: auto;
   font-size: 20px;
.edit-bold{
  font-weight:bold; 
}
.wallpaper {
  background: url('../../images/wallpaper-bg.png');
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  top: 90px;
  z-index: -1;
}
.title-box-prof {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding: 15px;
  width: 144%;
  margin-bottom: 20px; 
  margin-left: auto; 
  margin-right: auto;

  .right-column {
    text-align: right;
  }

}
.row .qual-box{
  border: solid 1px #979797;
  background-color: #ffffff;
  border-radius: 5px;

}
.header {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  text-align: left; 
}

.left-column {
  text-align: left; 
}

.edit-row {
  margin-top: 20px;
  padding: 20px;
  width: 70%;
  margin-left: auto; 
  margin-right: auto;

  .grey-box{
  background-color: #444242;
  width: 100%;
  margin: 0px;
  padding: 5px; 
  color: white; 

    .h4{
     color: white; 
     margin: 0px; 
     padding: 5px; 
  }
}
}
.qual-box{
  width: 100%;
  margin-bottom: 40px;
}
.row .column hr{
  margin: 0px;
}
.row .qual-row{
  width: 100%;
  margin: 0px;
  padding: 20px;
}
.row .vl{
  border-left: 1px solid #979797;

}
.row .relevant-row{
  width: 100%;
  margin: 0px;
}
.relevant-row .column{
  padding: 20px;
}
.pencil-icon{
  margin-left: 15px;
  display: inline;
  color: red;
  padding-bottom: 3px;
}
.delete-icon{
  color: red;
  padding-bottom: 5px;
  display: inline;

}
.delete-icon:hover{
  opacity: .5;
}
.pencil-icon:hover, .row .check-icon:hover, .add-icon:hover{
  color: #ff8888;
}


.row .check-icon{
  display: inline;
  color: green;
  padding-bottom: 3px;
  margin-left: 15px;
  margin-right: 5px;
}
.add-icon{
  color:red;
  margin-left: 2px;
}
.row .edit-input{
  width: 65%;
  border: none;
  padding: 0px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #606c76;
  background-color:  #f6f6f6;
  padding-left: 5px;
  margin-bottom: 4px;
  height: 29px;
  letter-spacing: .8px;
  display: inline;
  line-height: 1.5;
}
.input-div h5, .input-div .check-icon, .input-div .gpa-error{
  display: inline;
}
.input-div{
  width: 100%;
}
.gpa-edit .edit-input{
  width: 15%;
}
.gpa-div h5{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 1px;
}

.row .column .trans-resume .button{
  margin-left: 10px;
  border-color: #9b9999;
  background-color: #9b9999;
  height: 24px;
  padding: 2px 8px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 5px;
}

.edit-details-col{
  flex: 0 0 69%;
}
.trans-resume h5{
  margin-top: 5px;
}
.row .column .trans-resume .button:hover{
  cursor: pointer;
  border-color: #c1bfbf;
  background-color: #c1bfbf;

}
.clear-offset{
  padding-right: 5px;
}
.display-list-item, .edit-container .editting{
  margin-bottom: 4px;
}
.display-list-item{
  padding: 2px 5px;
  margin-left: 5px;
}
.display-list{
  margin-top: 15px;

}
.edit-container .editting{
  padding: 2px 0px 2px 5px;
  border-radius: 5px;

}
.edit-container .editting p{
  display: inline;
}

.display-list .addTag{
  margin-top: 10px;
  height: 29px;
  width: 60%;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.6rem;
  font-style: italic;
  opacity: 0.7;
 
}
.sub-section {
  font-weight: bold; 
}
.edit-submit {
  background-color: #b31b1b;
  border: .1rem solid #b31b1b; 

}
.edit-submit:hover{
  background-color: #800707; 
  border: .1rem solid #800707; 
}
}