.student-dash-container {

  width: 85%;
  margin: auto;
  min-height: 500px;

  .dashboard-header {
    font-size: 48px;
    color: black;
    margin-bottom: 15px;
    font-weight: 400;
  }
}

.sweet-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  margin-bottom: 100px;
}