.professor-view-container {

  width: 85%;
  margin: auto;

  .professor-view-container-row {
    margin-bottom: 100px;
  }

  .filter-box {
    
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    
    margin-bottom: 15px;
    
    .filter-child, label {
      font-size: 24px;
      font-weight: 300;
    }

    .filter-child {
      padding: 10px;

      label {
        color: black;
      }
    }

    hr {
      height: 3px;
      background-color: #d0d0d0;
    }
  }

  .application-list-header {
    font-size: 28px;
    color: black;
  }

  .application-list-container {
    margin-top: 15px;
    margin-left: 20px;
  }
}

.sweet-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}