.prof-box, .row .prof-box{
  background-color: white;
  border: solid #979797 1px;
  border-radius: 2px;
  padding: 30px;
  margin-bottom: 5%;

}
.container{
	margin-top: 10%;
	width: 60%;
	margin-left: 20%;
}
.container h4{
	font-size: 18px;
}
.prof-box a{
	color: gray;
}
.row .prof-box-1{
	margin-left: 2%;
}
.container .opps h3{
	margin-bottom: 0px;
}
.row .office{
	margin-left: 1.5%;
}

a {
	color: #b31b1b;
}

a:hover {
	color: #e85c5c;
}