/*-------------
 	General
-------------*/

.landingPage section .get-started{
  background-color: #b31b1b;
  border-color: #b31b1b;
}
.landingPage *{

	box-sizing: border-box;
  font: 'Roboto';
}
.landingPage  .get-started:hover{
  opacity: 0.9;
  border-color: #b31b1b;
  background-color: #b31b1b;
}

.landingPage ul, .landingPage nav {
    list-style: none;
}

.landingPage a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}


.landingPage a:hover, .landingPage.hover {
    
    border-bottom: 3px solid white;
    box-shadow: #414a4f;
}


.landingPage a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}

.landingPage hr {
    width: 150px;
    height: 2px;
    background-color: #f6f6f6;
    border: 0;
    margin-bottom: 40px;
}


.landingPage section{
	display: flex;
	flex-direction: column;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 0px;
}

.landingPage  .background-image {

    background-image: url("../../images/backImage.png");
	background-size: 100% 100%;

}

@media (max-width: 1000px) {

    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {

    section {
        padding: 80px 30px;
    }

}

.landingPage section h3.title {
    color: #414a4f;
    text-transform: none;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

.landingPage section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.landingPage ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signup {
  margin-right: 8px;
}

.center-text {
  text-align: center;
}

.sign-out {
  cursor: pointer;
}

#no-max-width {
  max-width: none;
}

.log-in-button {
  background-color: #b31b1b;
  color: white;
  margin-left: 10px;
  border-color: #b31b1b;
}


/*-------------
 	Header
-------------*/

.landingPage .logo{
      height: 59px;	
      width: 59px;	
     
  margin-top: 25px;
}
.landingPage header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
    height: 80px;
   background-color: transparent;
  
	padding: 30px 5%;

}

.landingPage header h2 {
    font-family: 'Roboto', sans-serif;
   
}

.landingPage header nav {
    display: flex;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}



.landingPage header nav li {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

}

.landingPage header nav li:first-child {
    margin-left: 0;
}




//.proflandingPage header .button:hover{
//  opacity: 0.9;
//  border-bottom: 3px solid white;
//
//}

.landingPage .login {
    background-color: transparent;
    text-transform: none;
    margin-bottom: 0;
    color: white;
        font-weight: 350;
	margin-left: 10px;
    border-color: transparent;
    text-decoration: none;
	cursor: pointer;
	display: inline-block;
    font-size: 20px;
    font-family: "Helvetica Neue";
    height: 33px;	width: 156px;
        line-height: 24px;
        	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;	
    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    
}

.white-button:hover{
  opacity: 0.9;
  background-color: rgb(166, 57, 45);
  border-color: transparent;
  color: #fff;
}

.search-bar {
  margin-bottom: 0;
}

#list-image1{
    width : 50px;
    max-width: 50px ;
    height: 50px;
    max-height: 50px;

}
#list-image2{
    width : 50px;
    max-width: 50px ;
    height: 50px;
    max-height: 50px;

}
#whiteButton:hover{
  opacity: 0.9;
  background-color: rgb(166, 57, 45);
  border-color: transparent;
  color: #fff;
}
#list-image3{
    width : 40px;
    max-width: 40px ;
    height: 50px;
    max-height: 50px;
}

.white-button{
  background-color: white;
  color: rgb(166,57,45);
  border-color: white;
  margin: auto 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.signup{
    background-color: white;
    color: #b31b1b;
    border-color: transparent;

}
.signup2{
    background-color: #b31b1b;
    color: white;
    border-color: transparent;

}

.signup:hover {
    opacity: 0.9;
    background-color: rgb(166, 57, 45);
    border-color: transparent;

}



.login:hover {
    border-bottom: 3px solid white;
    
}

@media (max-width: 1000px) {
    .landingPage header { 
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    .landingPage header {
        flex-direction: column;
    }

    .landingPage header h2 {
        margin-bottom: 0px;
    }
}

/*----------------
 	Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #525a63;
    z-index: -1;
}

.hero .arrow {
    width: 100px;
    height: 100px;
    color: black;
}

.hero .lab-button{
  padding-left: 48px;
  padding-right: 48px;
}
.hero h3{
  color: white;
}

.hero h1{
    padding-top: 80px;

	margin-bottom: 70px;
    color: #f6f6f6;
    font-family: Roboto;	
    font-size: 64px;	
    font-weight: 500;	
    letter-spacing: -0.5px;	
    line-height: 75px;	
    text-align: center;	
    text-shadow: 2px 2px 4px #000000;

}

.hero h3 {
    font: normal 28px 'Roboto', sans-serif;
    margin-bottom: 40px;
    color: #FFFFFF;		
    font-size: 32px;	
    font-weight: 300;	
    letter-spacing: -0.5px;	
    line-height: 38px;	
    text-align: center;	
    text-shadow: 2px 2px 4px #000000;
}

.hero a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }

}

col {
    height : 5px;
}
/*--------------------
 	Middle Strip
---------------------*/


.middleImage {
    padding: 20px;
    margin-top: 5%;
    margin-left :10%;
    text-align: center;
    min-width: 180px;
    min-height: 180px;
}

.picP {
  margin-bottom: 0 !important;
}

.picRow {
  margin-bottom: 35px !important;
}

 section.middleContainer2{
     align-items: center;
     justify-content: center;
 }

 section.middleContainer2 p{
        color: #000000;	
        font-family: "Helvetica Neue";	
        font-size: 16px;	
        font-weight: 500;	
        letter-spacing: 2px;	
        line-height: 20px;	
        text-align: center;	
        text-shadow: 6px 6px 4px 0 rgba(0,0,0,0.5);
    }
     section.middleContainer2 a{
        color: rgb(166, 57, 45);
        text-decoration: underline;
    }
     section.middleContainer2 .middleImage{
            padding: 20px;
            max-width : 180px;
    margin-top: 5%;
        margin-left: 0%;
    text-align: center; 

    }
    section.middleContainer2 p{
        align-self: center;
        color: #000000;	
        font-family: "Helvetica Neue";	
        font-size: 16px;	
        font-weight: 500;	
        letter-spacing: 2px;	
        line-height: 20px;	
        text-align: center;	
        text-shadow: 6px 6px 4px 0 rgba(0,0,0,0.5);
    }
     section.middleContainer2 .row{
            text-align : center;
            justify-content: center;

    }
    section.middleContainer2 .Col.center-col{
            align-items: center;

    }
    section.middleContainer2 p.big{
        color: #040404;
        font-family: Roboto;	
        font-size: 48px;	
        font-weight: 500;	
        letter-spacing: -0.5px;	
        line-height: 57px;	
        text-align: center;
        max-width: none;
    }

    #no-max-width {
        max-width: none;
    }





    


.container{
    width : 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.container .middleContainer{
    margin-top: 5%;
    padding: 0;
    margin-bottom: 5%;
    margin-left: 5%;
    width : 100%;
    align-items: center;


}
.row{
    align-items: center;
    padding: 0;
}


#collab{
   
	
	color: #8F8F8F;
	font-family: "Helvetica Neue";
	font-size: 20px;
    letter-spacing: -0.01px;
    font-weight: 300;
    margin-bottom: 0;
	
}
/*--------------------
 	Our Work Section
---------------------*/

.landingPage .our-work {
    background-size: cover;
}


.landingPage .our-work .photo-flex{
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
}
.landingPage .our-work .step p{
  padding: 0px;
  font-size: 22px;
  font-weight: 100;
  color: black;
  line-height: 27px;
}
.landingPage .our-work .get-started{
  margin-top: 50px;
  margin-bottom: 0px;

}
.landingPage .for-profs{
  background-color: white;
}
.landingPage .for-students{
  background-color: white;
}
.landingPage .our-work .step{
  height: 100%;
  margin-top: 30px;
  text-align: center;
  flex-basis: 33%;
  padding: 50px 30px;
}

.landingPage .our-work .step-photo {
  border-radius: 50%;
}

.landingPage .our-work .step .padding {
  padding: 15px;
}

.landingPage .our-work .button {
    background-color: rgb(179, 27, 27);
    border-color: rgb(179, 27, 27);
    color: white;
    height: 50px;
    width: 210px;
}

.landingPage .our-work .photo-flex {
    display: flex;
    flex-direction: row;
}

.landingPage section.our-work {
    padding: 100px;
    flex-direction: row;
}
.landingPage .our-work .students-title h2{
  color: #040404;	
  font-family: Roboto;	
  font-size: 48px;	
  font-weight: 500;	
  letter-spacing: -0.5px;	
  line-height: 57px;
}


.landingPage section.our-work .students-title p{
    
    text-align: left;
   	
    color: #040404;	
    font-family: Roboto;	
    font-size: 24px;	
    font-weight: 300;	
    letter-spacing: -0.5px;	
    line-height: 28px;
}
 
    

.landingPage section.our-work {
    padding: 0px;
    flex-direction: row;
}


.landingPage .our-work .students-title{
  text-align: left;
  padding: 20px;

}

@media (max-width: 1000px) {

}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
    min-height: 100vh;
    background-color: white;
}
.landingPage section.why-us{
    padding-top: 0px;
    padding-right: 0px;
    background-color: white;

}
.landingPage section.why-us p{
    
    text-align: left;
   	padding-left: 50px;
    color: #040404;	
    font-family: Roboto;	
    font-size: 24px;	
    font-weight: 300;	
    letter-spacing: -0.5px;	
    line-height: 28px;
}
.landingPage section.why-us{
  flex-direction: row;
}
.landingPage section.why-us img{
  width: 100%;
}
.landingPage section.why-us .students-title{
  width: 60%;
  padding: 0px;

}



.list-image{
  max-width : 70px;
  max-height : 60px;
  min-width : 70px;
  min-height : 60px;

}
.landingPage section.why-us .students-title h2{
    height: 123px;	
    width: 551px;	
    color: #040404;	
    font-family: Roboto;	
    font-size: 48px;	
    font-weight: 500;	
    letter-spacing: -0.5px;	
    line-height: 57px;
}
.landingPage section.list .row {
    align-content: center;
}
.landingPage .reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}

.landingPage .reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {

    .reviews .quote {
        font-size: 20px;
    }

    .reviews .author {
        font-size: 16px;
    }

}
/*---------------------
 	Prof Section
---------------------*/

.landingPage section.for-profs {
    padding: 100px;
    flex-direction: column;
}

.landingPage section.for-profs h2{
  color: #040404;	
  font-family: Roboto;	
  font-size: 48px;	
  font-weight: 500;	
  letter-spacing: -0.5px;	
  line-height: 57px;
  text-align: center
}

.landingPage section.for-profs  p{
    text-align: center;
   	
    color: #040404;	
    font-family: Roboto;	
    font-size: 24px;	
    font-weight: 300;	
    letter-spacing: -0.5px;	
    line-height: 28px;
}


.contact {
    background-color: #f7f7f7;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 80%;
}
body{
    background-color: #FFFFFF
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
}

.contact form .btn {
    padding: 18px 42px;
}

@media (max-width: 800px) {

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

}

/*-------------
 	Footer
-------------*/


.landingPage footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 20px 0;
  height: 225px;

}

.landingPage footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
}

.landingPage footer ul li {
    margin: 0 8px;
}

.landingPage footer ul li:first-child {
    margin-left: 0;
}

.landingPage footer ul li:last-child {
    margin-right: 0;
}


.landingPage footer p{
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	margin-bottom: 0px;
  letter-spacing: 3px;
}

.landingPage footer p a{
	color: #fff;
  letter-spacing: 1px;

}

.landingPage {
  .CDTIlogo{
    width: 25%;
    margin-bottom: 25px;
  }
  .CDTIlogo:hover{
    opacity: 0.7
  }
}

@media (max-width: 700px) {

    footer {
        padding: 80px 15px;
    }

}
  .search-div-container {

    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 65px;
    margin-bottom: 15px;
    padding: 0 20px;

    input {
      font-size: 24px;
      font-family: Roboto;
      font-weight: 300;
      height: 100%;
      border: 0;

      &::placeholder {
        color: #9B9B9B;
      }
    }
  }

  .go-home {
    cursor: pointer;
    margin: 10px 10px 10px -10px;
    padding: 10px;
  }

.collabImage {
  padding: 20px;
  margin-top: 5%;
  margin-left :10%;
  text-align: center;
}



/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}
