.application-page-container {

	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 90px;
	font-size: 20px;

	.application-page-info, .application-page-responses {
	  padding: 20px 30px;
	  margin-top: 15px;
	  background-color: white;
	  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		border-radius: 5px;
	  margin-bottom: 20px;
	}

	.return-to-apps {
		
		margin-left: -20px;
		cursor: pointer;
		color: black;

		.black-arrow {
			color: black;
			margin-top: -2px;
			margin-right: 2px;
		}
	}

	.button-bar {

		margin-top: 20px;
		margin-left: -20px;

		.left-button {
			text-align: left;
		}

		.right-button {
			text-align: right;
		}

		.center-button {
			text-align: center;
		}

		.button {
			color: white;
			border: 0;
			background-color: #B31B1B;
			width: 85%;
			margin-right: -10px;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		}

		.disabled-button {
			color: white;
			border: 0;
			background-color: grey;
			width: 85%;
			margin-right: -10px;
		}
	}

	.application-page-info {

		.app-info-right {
			text-align: right;
			margin-bottom: 0;
		}

		.app-info-left {
			text-align: left;
			margin-bottom: 0;
		}

		.app-page-info-top-row {
			margin-bottom: 20px;
		}	

		.column {
			margin-bottom: 0;
		}
	}

	.application-page-responses {

		.responses-header {
			color: black;
		}

		.question-and-response {
			margin-top: 20px;
		}

		.question {
			color: black;
		}

		.answer {
			color: black;
		}
	}

	.app-qualifications {

		background-color: white;
		border-radius: 5px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		margin-top: 15px;
	  margin-left: 30px;

	  h6 {
		  color: #0b0b0b;
		  margin-bottom: 5px;
		}

		ul {
		  margin-bottom: 0px;
		  margin-left: 30px;
		  list-style: none;
		}

		p {
		  margin-left: 30px;
		}

		li::before {
			content: "•"; color: #b31b1b;
		  display: inline-block; width: 1em;
		  margin-left: -1em
		}

		.app-qual-title {
		  background-color: #b31b1b;
		  width: 100%;
		  text-align: center;
		  color: white;
		  margin-bottom: 0px;
		  padding: 10px;
		  border-radius: 5px 5px 0 0;
		}

		.app-qual-title {
		  margin-bottom: 0px;
		}

		.app-qual-section {
		  padding: 10px;
		}

		.green-check {
		  color: #417505;
		}

		hr {
			margin: 0;
		}

		.no-margin {
			margin: 0;
		}

		.red-link {
			color: #B31B1B;
		}

		.resume-link {
			cursor: pointer;
		}
	}

	.column-app-qual {
		// temporary fix for button/column alignment
		width: 44.5%;
	}

	.header {
		color: black;
		font-size: 24px;
	}
}