.skill-select {

	padding: 10px;
	margin-bottom: 10px;

	.add-button {
		float: right;
	  background-color: #b31b1b;
	  color: white;
	  border-color: #b31b1b;
	}

	.add-bottom:hover {
	  opacity: 0.9;
	  border-color: #b31b1b;
	}

	li {
		list-style: none;
		font-weight: 400;
		cursor: pointer;
	}
}