.title {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.header1 {
  color: black;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header2 {
  color: black;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

p {
  margin-bottom: 10px;
}

.step {
  margin-left: 3%;
}

.substep {
  margin-left: 6%;
}

.instructions {
  margin-left: 6%;
  font-weight: 100;
}

.opp-details-section a {
  color: #b31b1b;
}

a:hover {
  color: #e85c5c;
}