.opportunities-page-wrapper {

  width: 90%;
  margin: auto;
  margin-top: 220px;
  font-size: 20px;
  color: black;

  .wallpaper {
    background: url('../../images/wallpaper-bg.png');
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    top: 62px;
    z-index: -1;
  }

  .wallpaper-no-sign-in {
    top: 0;
  }

  .opp-details-column {
    flex: 0 0 69%;
  }

  .opportunity-row {
    margin-bottom: 100px;
  }

  .opp-title-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    height: 165px;
    padding: 40px 30px;
    margin-bottom: 40px;

    .right-column {
      text-align: right;
    }

    .button {
      margin-right: 20px;
    }
  }

  .opp-details-card {

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 30px;
    width: 100%;
    margin-bottom: 40px;

    .opp-details-section {
      margin-bottom: 20px;
    }
  }

  .opp-application-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding: 30px;

    .submit-button-div {
      text-align: center;
    }
  }

  .opp-qualifications {

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin-top: 80px;
    margin-left: 45px;

    h6 {
      color: #0b0b0b;
      margin-bottom: 5px;
    }

    ul {
      margin-bottom: 0;
      list-style: none;
    }

    p {
      margin-bottom: 0;
    }

    li::before {
      content: "•"; color: #b31b1b;
      display: inline-block; width: 1em;
      margin-left: -1em
    }

    .opp-qual-title {
      background-color: #b31b1b;
      width: 100%;
      text-align: center;
      color: white;
      margin-bottom: 0px;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }

    .opp-qual-section {
      padding: 10px;
    }

    .greenCheck {
      color: #417505;
    }

    .cross {
      color: gray;
    }

    hr {
      margin: 0;
    }

    .no-margin {
      margin: 0;
    }

    .red-link {
      color: #B31B1B;
    }

    .resume-link {
      cursor: pointer;
    }
  }

  .header {
    color: black;
    font-size: 24px;
    font-weight: bolder;
  }

  .button {
    background-color: #b31b1b;
    color: white;
    border-color: #b31b1b;
    height: 54px;
    width: 219px;
    line-height: 54px;
    font-size: 14px;
    font-weight: 300;
  }

  .back-to-opportunities {
    width: 250px;
  }
}

.opportunity-lab {

  .cross, .greenCheck {
    display: none;
  }
}