.prof-application-box {
    padding: 20px 30px;
    margin-top: 15px;
    background-color: white;
    border: solid #979797 1px;
    border-radius: 2px;
    font-weight: 500;
}

.prof-application-box:hover {
    padding: 20px 30px;
    margin-top: 15px;
    background-color: #e0e0e0;
    border: solid #979797 1px;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
}