.prof-application-box {

    padding: 20px 30px;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: #4A4A4A;

    &:hover {
        cursor: pointer;
        background-color: #e0e0e0;
    }

    .left-column {
        text-align: left;

        .name {
            color: black;
            font-size: 24px;
        }

        .grad-year {
            margin-bottom: 30px;
        }
    }

    .right-column {
        text-align: right;

        .opportunity {
            right: 20px;
            bottom: 20px;
        }
    }

    .cal-icon {
        color: #417505
    }

    .info-icon {
        color: #f5a623;
    }
}