.dash-action-wrapper {

	cursor: pointer;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	font-size: 28px;
	color: black;
	margin-bottom: 25px;

	height: 75px;
	width: 550px;

	.dash-action-content {
		line-height: 75px;

		div {
			display: inline;
		}

		.icon-wrapper {
			padding: 0 30px;
			position: relative;
			bottom: 2px;
		}

		.angle-wrapper {
			float: right;
			padding-right: 20px;
			color: #B31B1B;
			position: relative;
			bottom: 2px;
		}
	}

	* {
		cursor: pointer;
	}
}