.footer-all {
	text-align: center;
	background-color: #414a4f;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  padding: 50px;

  .footer-child, .footer-child * {
  	text-transform: uppercase;
		color: white;
  }

	.logo {
		width: 350px;

		&:hover {
			opacity: 0.7;
		}
	}
	.footer-link {
		border: 1px solid white; 
		padding: 10px; 
		padding-left: 20px; 
		padding-right: 20px; 
	}
}
