.opportunities-wrapper {

  width: 85%;
  margin: auto;

  .opp-container {
    margin-bottom: 100px;
  }
  
  .filter-box {
    
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    
    margin-bottom: 15px;
    
    .filter-child, label {
      font-size: 20px;
      font-weight: 300;
    }

    .filter-child {
      padding: 5px 10px;

      label {
        color: black;
      }
    }
    hr {
      margin: 0px;
      height: 3px;
      background-color: #d0d0d0;
    }
  }

  .opportunities-list-wrapper {
    margin-left: 20px;

    .node-list-div {
      p {
        margin-bottom: 5px;
      }
    }
  }

  .search-div-container {

    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 65px;
    margin-bottom: 15px;
    padding: 0 20px;

    input {
      font-size: 20px;
      font-family: Roboto;
      font-weight: 300;
      height: 100%;
      border: 0;
      //padding-top:20px;

      &::placeholder {
        color: #9B9B9B;
      }
    }
  }

  .go-home {
    cursor: pointer;
    margin: 10px 10px 10px -10px;
    padding: 10px;
  }
}

#top-align {
  align-items: flex-start;
}