@import url('../node_modules/milligram/dist/milligram.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 175px 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  background-color: #f6f6f6;
  margin-bottom: 250px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table, th, td {
  border: 1px solid #d3d3d3;
  padding: 5px;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row .column {
  padding: 0;
}
