@import url('../node_modules/milligram/dist/milligram.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table, th, td {
  border: 1px solid #d3d3d3;
  padding: 5px;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opportunityListing {
  padding: 20px;
  width: 70%;
  background-color: #aed6e5;
}