.header{
  background-color: #b31b1b;
  width: 100%;
  height: 50px;
}

.instructor-reg-form{
    margin: 20px;
    width:40%;
    margin-top: 100px;
    margin-left: 30%;
    background-color: #f6f6f6;
    text-align: center;
}
.instructor-reg-form .button-small{
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;

}

.instructor-reg-form .button-small-clear{
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  background-color: transparent;
  color: black;
}
.instructor-reg-form .suggest-input:focus{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}
.asterisk{
  color:red;
}
.autoOp{
  font-size: 11px;
  margin: 0px;
  padding: 6px 10px 6px 10px;
  text-align: left;
  width: 100%;
  height: 100%;



}
.autoOp:hover{
  background-color: #cdcfd3;
}
.autoOp:last-child{
  border-bottom-right-radius:5px;
  border-bottom-left-radius: 5px;
}
.instructor-reg-form  .suggest-input{
  margin-bottom: 0px;

}
.instructor-reg-form .suggestion-array{
  border: 1px solid gray;
  border-top: none;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.add-lab-form{
  margin-top: 230px;
}
.or{
  padding-left: 10px;
  padding-right: 10px;
}
.add-lab-form form{
  margin-left: 40px;
}
.registration{
  margin-top: 20px;
}
.existing-or-create{
  text-align: center;
}
.instructor-reg-form .button{
  background-color: #b31b1b;
  border-color: #b31b1b;
}

.instructor-reg-form .button-small-clear{
    border-color: #b31b1b;
    color:#b31b1b;;
}
.instructor-reg-form .button-small-clear:focus{
    border-color: #b31b1b;
    background-color: #b31b1b;
    color:white;
}
.instructor-reg-form .no-click{
  cursor: default;
}
.instructor-reg-form .no-click:hover{
  background-color: #b31b1b;
  color: white;
  border-color: #b31b1b;
}
.instructor-reg-form .no-click:focus{
  background-color: #b31b1b;
  color: white;
  border-color: #b31b1b;
}
.instructor-reg-form textarea{
  resize: none;
}
.instructor-reg-form input:hover,.instructor-reg-form textarea:hover,.instructor-reg-form select:hover{
  border-color: #b31b1b;
}
.instructor-reg-form input:focus,.instructor-reg-form textarea:focus,.instructor-reg-form select:focus{
  border-color: #b31b1b;
}
.active{
  background-color: #dee0e5;
}
.existing-or-create .left-button{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.existing-or-create .right-button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.existing-or-create .button-small-clear:hover{
  background-color: #c6c9ce;
  border-color: #c6c9ce;
}
