

.opportunityListing {
  width: 80%;
  background-color: #f6f6f6;
  /*background-image: url('writing-picture.jpg');*/
  margin-left: 10%;
  padding: 0px;
  padding-left: 10px;

}
.opportunities-page-wrapper{
  margin-top: 80px;
}
.row .title-box,.row .about-box,.row .qualifications{
  background-color: white;
border: solid #979797 1px;
  border-radius: 2px;

}
.first-row{

    height: 300px;
}

.row .title-container, .row .about-box{
  margin-top: 40px;
  width: 100%;
}
.title-box{
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.row .qualifications{
  margin-top: 40px;
  margin-left: 30px;
  height: 600px;
}
.about-box{
  padding: 30px;

}
.about-box h5{
    color: #0b0b0b;
}
.row .column h5{
  font-weight: 700;
  padding-left: 0px;
}
.row .column h4{
  font-weight: 700;
  padding-left: 0px;
}
.title-first-col{
  width: 72%;

}
.title-second-col{
 text-align: right;

}
.opp-box-row{
  padding: 10px;
  padding-bottom: 0px;
}
.row .title-box h6{
  margin-bottom: 0px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.qual-title{
  background-color: #b31b1b;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding: 10px;

}
.row .qual-title h5{
  font-weight: 300;
  margin-bottom: 0px;
}
.row .qualifications hr{
  margin-top: 0px;
}
.row .qualifications h6{
  font-size: 20px;
  font-weight: bold;
  color: #0b0b0b;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.row .qualifications ul{
  margin-bottom: 0px;
  margin-left: 30px;
  list-style: none;
}
.qualifications p{
  margin-left: 30px;
}
.row .column .button{
  background-color: #b31b1b;
}
.qualifications li::before {content: "•"; color: #b31b1b;
  display: inline-block; width: 1em;
  margin-left: -1em}

.opportunities-page-wrapper .button{
  background-color: #b31b1b;
  border-color:#b31b1b;
}
.opportunities-page-wrapper .button:hover{
  background-color: #606c76;
  border-color:#606c76;
  color: white;
}
.row .qual-section{
  padding: 10px;
}
.about-box p{
  font-size: 15px;
  margin-bottom: 5px;
}
.application-box textarea{
  resize: none;
}
.application-box textarea:focus{
  border-color:#b31b1b;
}
.application-box{
  padding:30px;
}
.row .column{
  padding: 0px;
}
.apply-button{
  width: 100%;
}
