@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

.search-div-container {
  padding: 0 !important;
  padding-right: 10px !important;
}

.search-div {
  text-align: center;
  width: 100%;
}

.search-div input {
  width: 100%;
  margin-bottom: inherit;
  height: 50px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  border-color: #979797;
  color: #9b9b9b;
}

body {
  background-color: #f6f6f6;
}

/*** the opportunity cards are now .application-box ***/

.application-box{
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
  border: solid 2px #979797;

  padding: 20px;
  cursor: pointer;
}

.application-box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}



h3, h2 {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 500;
}

.application-box p{
  color: #4a4a4a;
}

/*** ***/

.opp-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.opp-list-container {
  margin-left: 20px;
  margin-bottom: 25px;
}

.viewDetails{
  color: #4a90e2;
  text-decoration: underline;
}

.greenCheck{
  color: #417505;
}

.redX{
  color: #d0021b;
}

.cal{
  color: #f5a623;
}

.header{
  background-color: #b31b1b;
  width: 100%;
  height: 50px;
}
.filterCheckFields input{
  margin-left: 25px;
}
