@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

.search-div-container {
  padding: 0 !important;
  padding-right: 10px !important;
}

.search-div {
  text-align: center;
  width: 100%;
}

.search-div input {
  width: 100%;
  border-radius: 2px;
  margin-bottom: inherit;
}

body {
  background-color: #f6f6f6;
}

/*** the opportunity cards are now .application-box ***/

.oppBox {
  margin: 10px;
  background-color: white;
  border: solid 2px #979797;
  width: 700px;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.oppBox h3 {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.oppBox:hover {
  border: #4a90e2 solid 2px;
   box-shadow: 0 0 10px #9ecaed;
}

h3, h2 {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

.oppBox p{
  color: #4a4a4a;
}

/*** ***/

.opp-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.opp-list-container {
  margin-left: 20px;
  margin-bottom: 25px;
}

.viewDetails{
  color: #4a90e2;
  text-decoration: underline;
}

.greenCheck{
  color: #417505;
}

.redX{
  color: #d0021b;
}

.cal{
  color: #f5a623;
}

.header{
  background-color: #b31b1b;
  width: 100%;
  height: 50px;
}
