@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

.search-div-container {
  padding: 0 !important;
}

.search-div {
  text-align: center;
  width: 100%;
}

.search-div input {
  width: 100%;
  margin-bottom: inherit;
  height: 50px;
  font-size: 15px;
  background-color: white;
  border-radius: 7px;
  border: solid 1px #979797;
  color: black;
  background:  url('../src/images/search-icon.png') no-repeat;
  /* source: http://www.clker.com/clipart-search-icon-1.html */
  padding-left:40px;
  background-size: 18px 18px;
  background-position: 1% 50%;


}

.search-div input:focus {
  border: solid #979797 1px;
  background-color: #e8e8e8;

}
.filter-box .opp-filter-select:focus{
  border-color: rgb(209, 209, 209);
}

body {
  background-color: #f6f6f6;
}

/*** the opportunity cards are now .application-box ***/

.application-box{
  margin: 10px;
  border: solid #979797 1px;
  border-radius: 2px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
  border: solid 1px #979797;

  padding: 15px;
  cursor: pointer;
}

.application-box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}



h3, h2{
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 500;
}
h4{
  color: black;
}

.application-box p{
  color: #4a4a4a;
}

/*** ***/

.opp-container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.opp-list-container {
  margin-left: 20px;
  margin-bottom: 25px;
}

.viewDetails{
  color: #4a90e2;
  text-decoration: underline;
}

.greenCheck{
  color: #417505;
}

.redX{
  color: #d0021b;
}

.cal{
  color: #f5a623;
}


.filterCheckFields input{
  margin-left: 15px;
  margin-bottom: 0px;
}
.filterCheckFields {
    margin-bottom: 0px;
}
.filter-box {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: solid #979797 1px;
  border-radius: 2px;

}
.filter-box select{
  margin-bottom: 0px;
}
.opp-container .row .column, .professor-view-container .row .column {
  padding-top: 0px;
}

.row h4{
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 1.9rem;
}
.row h5{

  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.6rem;
  margin-bottom: 5px;
  padding-left: 10px;
}
hr {
  margin: 15px 0px 15px 0px;
  border-width: 1px;
  width: 100%;
  padding: 0px;
  border-color: #979797;
}
.filter-box label{
  padding-left: 5px;
}
.row h6{
  padding-left: 0px;
  margin-left: 0px;
}
