.header {
  background-color: #b31b1b;
  width: 100%;
  height: 50px;
}

.professor-view-container {
	width: 80%;
	margin: auto;
  margin-top: 80px;
	margin-bottom: 20px;
}

.application-list-container {
	margin-top: 15px;
	margin-left: 20px;
}

.application-list-header {
  font-size: 18px;
  color: black;
}

.prof-application-box {
  padding: 20px 30px;
  margin-top: 15px;
  background-color: white;
  border: solid #979797 1px;
  border-radius: 2px;
  font-weight: 500;
}

.prof-application-box:hover {
  padding: 20px 30px;
  margin-top: 15px;
  background-color: #e0e0e0;
  border: solid #979797 1px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

.professor-view-container form {
	padding: 0;
}

.filter-box {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: solid #979797 1px;
  border-radius: 2px;

}

.filter-box select {
  margin-bottom: 0px;
}

.filter-box label {
  padding-left: 5px;
}

.prof-application-box .name, .prof-application-box .email {
  font-size: 22px;
  color: black;
}

.prof-application-box .name {}

.prof-application-box .email {
  margin-bottom: 30px;
}

.prof-application-box .grad-year {
  font-size: 18px;
  color: black;
}

.prof-application-box .gpa {
  font-size: 18px;
  color: #606c76;
}

.prof-application-box .courses {
  font-size: 18px;
  color: #606c76;
}

.prof-application-box .status {
  font-size: 18px;
  color: #606c76;
  text-align: right;
}

.prof-application-box .date-applied {
  font-size: 18px;
  color: #606c76;
  text-align: right;
}

.prof-application-box .opportunity {
  font-size: 18px;
  color: #606c76;
  text-align: right;
}

.email-text {
  height: 250px;
}
