.header-wrapper {
	margin-top: 150px;

	.header-all {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 95px;
		background-color: #B31B1B;
		box-shadow: 0 12px 5px -6px #808080;
		padding: 0 6%;

		.logo {
			width: 58px;
		}

		.logo:hover {
			opacity: .7;
		}

		.logo-div {
			display: flex;
		}

		nav {
			display: flex;

			li {
				padding: 0 40px;
				margin: 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				color: #FFFFFF;
				font-family: "Helvetica Neue";
				font-size: 20px;
				font-weight: 100;
				line-height: 24px;
				text-align: center;
				text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

				a {
					color: white;
				}
			}

			li:first-child {
				margin-left: 0;
			}

			li:last-child {
				margin-right: 0;
			}
		}

		.button:hover {
			opacity: 0.9;
		}

		.current-page {
			font-weight: bolder;
		}
	}
}